<component name="ArtifactManager">
  <artifact type="war" name="SpringTestIteraction:Web">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringTestIteraction_Web</output-path>
    <root id="archive" name="SpringTestIteraction_Web.war">
      <element id="artifact" artifact-name="SpringTestIteraction:Web exploded" />
    </root>
  </artifact>
</component>